body {
  margin: 0;
  background-color: #407a80;
  background-image: url("assets/fog-and-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: left top;
  height: auto;
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body.bg-overlay::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
}

h1 {
  font-size: 5rem;
  color: #ecec26;
  text-shadow: 2px 2px 1px #000;
}

h2 {
  text-shadow: 2px 2px 1px #000;
}

.content {
  overflow: hidden;
  white-space: nowrap;
}

.content h4 {
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  bottom: 0;
  height: 17rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: #fff;
  box-sizing: border-box;
}

#output-giphy {
  height: 100%;
  text-align: center;
}

#output-giphy img {
  height: 100%;
}

@media only screen and (min-width: 800px) {
  #output-gullmars,
  #output-alvsjo {
    width: 50%;
    display: inline-block;
  }
}
